# <font color ="darkblue">Processo seletivo TAIL 2021.1</font>

## Introdução

Olá candidato! Para participar do 2º processo seletivo, você deve abrir o link do colab abaixo e fazer uma cópia para seu drive e inserir as respostas nos campos.

Após responder, basta compartilhar conosco e nos enviar o link no email: tail.ufpb@gmail.com com o assunto **PROCESSO SELETIVO 2021.1 - SEU_NOME**

Para mais instruções, assista o vídeo de explicações e dúvidas que enviamos por email.

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/TailUFPB/processo2fase/blob/master/Fase2_SEUNOME.ipynb)  (ALTERAR LINK)

## Instruções:
<br>1. Abra o Google Colaboratory;
<br>2. Faça uma cópia no seu drive;
<br>3. Localize o notebook e abra-o;
<br>4. Responda o questionário;
<br>5. Salve o notebook e submeta-o através de nosso email: tail.ufpb@gmail.com

## Materiais

**Anexo :** 

Para auxilio com as questões, disponibilizamos o livro *Python para Estatísticos*, do professor Telmo de Menezes e Silva Filho, do Departamento de Estatística da Universidade Federal da Paraíba (UFPB):

[**Python para Estatísticos**](https://tmfilho.github.io/pyestbook)

Link para bibliotecas essênciais para desenvolver os problemas abaixo:

[**Bibliotecas essenciais**](https://github.com/Manuelfjr/processo2fase_anexo)

Slides das aulas de Thais:  
  
[**Slides**](https://sites.google.com/site/gaudenciothaisia/home/aulas)

Outros materiais, específicos para resolução de certas questões, serão especificados em seus enunciados.

In [ ]:
#@title Preencha os campos abaixo:

nome = '' #@param {type:"string"}
email = '' #@param {type:"string"}

# confira se os valores impressos correspondem ao que você digitou
print(nome)
print(email)

## Avisos
Aqui vão uma série de avisos e dicas:
* Fiquem de boa galera. Isso não é uma prova e o seu desempenho aqui não é eliminatório.
* Se esforcem. Mesmo que não consigam responder tudo, deem o máximo de si.
* Descrevam o que pensaram e como fizeram ou teriam feito para resolver a questão (isso é muito importante).
* Se divirtam. Vai ser muito legal ter vocês conosco!

![](https://github.com/TailUFPB/processo2fase/raw/master/img/ygt.jpg)

# Questão 1: Python Básico
---

*Enunciado aqui*

# Questão 2: Análise de Dados
---

Nessa seção, você adentrará no âmbito da análise de dados, que se trata do processo de limpeza, inspeção, modelagem e transformação de dados, corroborando para uma melhor interpretação dos dados e tomadas de decisão mais incisivas. Após essa breve introdução, você terá de analisar o dataset [Titanic](https://www.kaggle.com/c/titanic/overview). O dataset é formado pelos seguintes dados:

|                Coluna                | Descrição |
|:------------------------------------:|:---------:|
|                  Survived                 |    Sobrevivência ou não (0 - não; 1- sim)       |
|                  Pclass                 |    Tipo de passagem (1a, 2a ou 3a classe)    |
|          SibSp   |    No. de irmãos/cônjuges a bordo do Titanic       |
| Parch |    No. de pais/filhos a bordo do Titanic       |
|      Ticket   |      No. do tíquete    |
|       Fare       |    Tarifa de passageiro       |
|                Cabin               |       Número da cabine    |
|    Embarked  |      Porto de embarcação (C - Cherbourg, Q - Queenstown, S - Southampton)     |

### 2.1 - Leitura dos dados e realização de descrição estatística
---

A seguir, o dataframe já estará montado pelo método `pd.read_csv()` da biblioteca `pandas`, a partir da execução da célula.

Dica: Você pode acessar a documentação da biblioteca `pandas` [clicando aqui](https://pandas.pydata.org/docs/getting_started/index.html#getting-started). Após o processamento do dataframe, você terá de realizar uma descrição estatística dos dados.

In [ ]:
import pandas as pd

In [ ]:
dataset = pd.read_csv('https://raw.githubusercontent.com/franklinthony/dataset/master/titanic_disaster.csv', sep = ',')
dataset

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

_Sua resposta aqui_

### 2.2 - Limpeza dos dados
---

Após verificar o dataset acima e a relação das descrições com os valores existentes, realize o processo de limpeza dos dados, verificando possíveis inconsistências entre as instâncias (linhas que compõem o dataset). Mais uma vez, a leitura da documentação do `pandas` é uma excelente iniciativa.

_Sua resposta aqui_

### 2.3 - Feature Engineering e Dados Categóricos
---

2.3.1 - Em um problema de _Data Science_, é comum nos depararmos com um dataset cujos atributos não esclareçam com efetividade o comportamento de um dado fenômeno. Desta forma, cientistas de dados devem estar aptos a manipular atributos existentes e assim definir novos atributos, de acordo com os critérios estabelecidos. Este processo é descrito como _Feature Engineering_, e trata apenas da manipulação algébrica e/ou lógica de atributos (colunas, no contexto prático) com o intuito de alimentar o seu modelo de Machine Learning com dados relevantes à resolução do problema. 
Nesta etapa, você deverá utilizar sua intuição aliando criatividade para decidir como novos atributos podem ser definidos, a partir dos dados que você já possui.

Dica: Utilize as colunas existentes para gerar uma ou mais colunas com atributos distintos dos primeiros.

_Sua resposta aqui_

2.3.2 - Em poucos termos, algoritmos de Machine Learning só funcionam com valores numéricos. Isto significa que antes de treinar qualquer modelo, deve-se transformar os dados categóricos em dados numéricos. Encontre uma forma de *codificar* as colunas de dados categóricos, de forma que seu modelo consiga interpretar todos os atributos não-numéricos como numéricos.

_Sua resposta aqui_

### 2.4 - Análise Exploratória dos Dados
---

Antes de qualquer análise mais aprofundada sobre um conjunto de dados, é necessário ter uma noção de como estes dados estão distribuídos, que valores são mais comuns entre os dados, o quão dispersos estão e se existem valores que se distinguem do dataset, de uma maneira geral. Todas estas informações são classificadas como estatísticas, e em ciência de dados é preciso ter ideias claras sobre a forma do conjunto de dados em questão, utilizando-se majoritariamente da visão como forma de comunicar e representar as estatísticas elementares destes dados. Realize uma análise exploratória sobre os dados deste problema, apresentando as medidas de localização, dispersão e os valores que não se repetem em cada coluna, utilizando a biblioteca `matplotlib.pyplot` para criar gráficos que representem estas medidas. Utilize boxplots para visualizar dados muito discrepantes entre as amostras do dataset.

_Sua resposta aqui_

# Questão 3: Processamento de Linguagem Natural
---

textinho sobre NLP, similar ao texto da questão 2

In [ ]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00228/smsspamcollection.zip"

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import zipfile as zf
import requests
import io

In [ ]:
r = requests.get(url)
z = zf.ZipFile(io.BytesIO(r.content))
sms = pd.read_csv(z.open(zf.ZipFile.namelist(z)[0]), sep='\t',encoding='utf-8',header=None, names = ['SMS', 'Text'])

In [ ]:
sms.head()

    SMS                                               Text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

### 3.1 - Faça a Análise Exploratória do dataset criado, encontre:
---

3.1.1 - Distribuição das classes

_Sua resposta aqui_

3.1.2 - Palavras mais frequentes de cada classe

_Sua resposta aqui_

3.1.3 - Distribuição de FREE/WIN em cada classe

_Sua resposta aqui_

3.1.4 - Distribuição de URLs em cada classe.

_Sua resposta aqui_

### 3.2 - Faça a Limpeza de dados, apresente a sua forma escolhida para:
---

3.2.1 - Remover pontuação e caracteres especiais, normalizar letras maiúsculas

_Sua resposta aqui_

3.2.2 - Tokenizar palavras

_Sua resposta aqui_

3.2.3 - Remover stop words

_Sua resposta aqui_

3.2.4 - Lematização

_Sua resposta aqui_

3.2.5 - Compare a Análise Exploratória antes e depois da limpeza e retirada de stop words

_Sua resposta aqui_

# Questão 4: Visão Computacional
---

*Enunciado aqui*

# Questão 5: Aprendizagem por Reforço
---

textinho sobre RL, similar ao texto da questão 2


Dica: Para resolver as questões seguintes leia o capítulo 2 do livro [Reinforcement Learning: An Introduction](https://www.andrew.cmu.edu/course/10-703/textbook/BartoSutton.pdf) (Páginas 25-32 [Cap 2-2.4])

### 5.1 - Explique com suas palavras o *trade-off* entre em *Exploration* e *Exploitation* no contexto de Aprendizagem por Reforço.
---

*Sua Resposta Aqui*

### 5.2 - Dada a equação: $q_{n+1} = q_n + \alpha_n[R_n-q_n]$. Analise os gráficos do agente com *step size* de tamanhos diferentes e explique sua influência no comportamento da curva de estimativa.

$q_{n+1}$: Nova estimativa

$q_{n}$: Estimativa atual

$\alpha_n$: *Step size*

$R_n$: *Target*



|              *Step size* = 1/8               |      *Step size* = 1/2            |
|----------------------------------------------|-----------------------------------|
| ![step](https://raw.githubusercontent.com/TailUFPB/processo2fase/master/img/step_size1_8.png?token=AK2UNEMVJQ3QYPTQVSQFXSLAI3HXO) |  ![Step Size = 1/2 ](https://raw.githubusercontent.com/TailUFPB/processo2fase/master/img/step_size1_2.png?token=AK2UNEPF2YZAGESUHNJEXULAI3HWE) |

|              *Step size* = 1.0               |    *Step size* = 1/(t-1)          |
|----------------------------------------------|-----------------------------------|
| ![Step Size = 1/2 ](https://raw.githubusercontent.com/TailUFPB/processo2fase/master/img/step_size1_0.png?token=AK2UNENXPRBVHCTGWUXVOQDAI3HZI) |![step](https://raw.githubusercontent.com/TailUFPB/processo2fase/master/img/step_size1_t-1.png?token=AK2UNEI64WCHKGFJRJKBCNLAI3H2O) |

---

*Sua Resposta Aqui*

# Questão 6: Etapa Discursiva
---

Escrever sobre a área deixada de fora (dentre as áreas 3, 4 e 5).