<a href="TAIL"><img src="https://i.imgur.com/GRTE0OG.png" width="150" title="Tail Logo" /></a>
# <font color ="#00b8ff">Processo seletivo TAIL 2023.1</font>

## Introdução

Olá candidato! Para participar do processo seletivo, você deve abrir o link do colab abaixo e fazer uma cópia para seu drive e inserir as respostas nos campos.

Após responder, basta compartilhar conosco e nos enviar o link no email: tail.ufpb@gmail.com com o assunto **PROCESSO SELETIVO 2023.1 - SEU_NOME**

Para mais instruções, assista o vídeo de explicações e dúvidas que enviamos por email.

Pedimos que envie o notebook até o dia 10/02/2023 às 23:59.

Qualquer dúvida, lembre de nos contactar através do canal no [discord](https://discord.gg/NRufZ9K6)

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1W53I6la_lO9V9Lf9lqq0suPns1h7bRa-?usp=sharing)

## Instruções:
<br>1. Abra o Google Colaboratory;
<br>2. Faça uma cópia no seu drive;
<br>3. Localize o notebook e abra-o;
<br>4. Responda o questionário;
<br>5. Salve o notebook e submeta-o através de nosso email: tail.ufpb@gmail.com

## Materiais

**Anexo :** 

Para auxilio com as questões, disponibilizamos o livro *Python para Estatísticos*, do professor Telmo de Menezes e Silva Filho, do Departamento de Estatística da Universidade Federal da Paraíba (UFPB):

[**Python para Estatísticos**](https://tmfilho.github.io/pyestbook)

Link para bibliotecas essênciais para desenvolver os problemas abaixo:

[**Bibliotecas essenciais**](https://github.com/Manuelfjr/processo2fase_anexo)

Slides das aulas de Thais:  
  
[**Slides**](https://sites.google.com/site/gaudenciothaisia/home/aulas)

Outros materiais, específicos para resolução de certas questões, serão especificados em seus enunciados.

In [ ]:
#@title Preencha os campos abaixo:

nome = '' #@param {type:"string"}
email = '' #@param {type:"string"}

# confira se os valores impressos correspondem ao que você digitou
print(nome)
print(email)

## Avisos
Aqui vão uma série de avisos e dicas:
* Se esforcem. Mesmo que não consigam responder tudo, deem o máximo de si.
* Descrevam o que pensaram e como fizeram ou teriam feito para resolver a questão (isso é muito importante).
* Se divirtam. Vai ser muito legal ter vocês conosco!

![](https://github.com/TailUFPB/processo2fase/raw/master/img/ygt.jpg)

# Questão 1: TAILUFPB

## Descrição:

Para lidar com valores textuais, são utilizadas variáveis de tipo String, podendo ser tratados como Listas (outra Estrutura de Dados) em Python. Dessa forma, é possível identificar caracteres de um String a partir de seu índice, o que ajuda bastante em analisar o comportamento de uma certa palavra.

## Tarefa:

Faça um programa que printe todos os números de 1 a 100, mas printe "TAIL" no lugar dos números divisíveis por 3, printe "UFPB" no lugar dos números divisíveis por 5, e printe "TAILUFPB" no lugar dos números divisíveis por 3 e por 5.

## Exemplo:

1

2

TAIL

4

UFPB

TAIL

7

...

14

TAILUFPB

16

17

TAIL

...

## Código:

In [ ]:
def tailufpb(prompt):

    # Seu código aqui

In [ ]:
# Teste seu código aqui

# Questão 2: Primeiro caractere único

## Descrição:

Vamos supor que você recebeu uma lista de Strings. É correto afirmar que variás Strings possuem caracteres únicos, como por exemplo: "TAIL" possui 4 caracteres únicos pois nenhum deles se repete, além de que o primeiro caractere único é "T". Exerça sua lógica para desenvolver um algoritmo que identifica o primeiro caractere único dentro de uma String.

## Tarefa:

Implemente um script em Python para retornar o índice do primeiro caractere único dentro de uma String. Se o caractere único não existir, retorne -1

## Exemplos:

Ex.: Dadas as seguintes strings...


"abcabd", retorne 2 <br>
"thedailybyte", retorne 1 <br>
"developer", retorne 0 <br>
"arara", retorne -1

## Código:

In [ ]:
def first_unique_char(prompt):
    
    # Seu código aqui

In [ ]:
# Teste seu código aqui

# Questão 3: Joias e Pedras

## Descrição:

Nessa questão, são dadas duas Strings como input: A primeira String representa uma lista de joias e a segunda String são suas pedras. É possível que uma das pedras seja também uma joia, ou seja, se as joias forem "aB" e as pedras forem "aaa", você sabe que existem três pedras que são joias.

## Tarefa:

Implemente um script em Python para contar o número de pedras que são joias.

## Exemplos:

Ex.: Dadas as seguintes joias e pedras...

joias = "abc", pedras = "ac", retorne 2 (2 pedras são joias)<br> 
joias = "Af", pedras = "AaaddfFf", retorne 3 (3 pedras são joias)<br> 
joias = "AYOPD", pedras = "ayopd", retorne 0 (nenhuma pedra é joia)

## Questão:

In [ ]:
def jewels_and_stones(jewels, stones):
  # Seu código aqui
  pass

In [ ]:
# Teste seu código aqui

# Questão 4: Análise de Dados
---

**Descrição:**
\
Nessa seção, você adentrará no âmbito da análise de dados, que se trata do processo de limpeza, inspeção, modelagem e transformação de dados, corroborando para uma melhor interpretação dos dados e tomadas de decisão mais incisivas. Após essa breve introdução, você terá de analisar o dataset [Titanic](https://www.kaggle.com/c/titanic/overview). O dataset é formado pelos seguintes dados:

|                Coluna                | Descrição |
|:------------------------------------:|:---------:|
|                  Survived                 |    Sobrevivência ou não (0 - não; 1- sim)       |
|                  Pclass                 |    Tipo de passagem (1a, 2a ou 3a classe)    |
|          SibSp   |    No. de irmãos/cônjuges a bordo do Titanic       |
| Parch |    No. de pais/filhos a bordo do Titanic       |
|      Ticket   |      No. do tíquete    |
|       Fare       |    Tarifa de passageiro       |
|                Cabin               |       Número da cabine    |
|    Embarked  |      Porto de embarcação (C - Cherbourg, Q - Queenstown, S - Southampton)     |

### 4.1 - Leitura dos dados e realização de descrição estatística
---

A seguir, o dataframe já estará montado pelo método `pd.read_csv()` da biblioteca `pandas`, a partir da execução da célula.

Dica: Você pode acessar a documentação da biblioteca `pandas` [clicando aqui](https://pandas.pydata.org/docs/getting_started/index.html#getting-started). Após o processamento do dataframe, você terá de realizar uma descrição estatística dos dados.

In [ ]:
import pandas as pd

In [ ]:
dataset = pd.read_csv('https://raw.githubusercontent.com/franklinthony/dataset/master/titanic_disaster.csv', sep = ',')
dataset

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

_Sua resposta aqui_

In [ ]:
# Seu código aqui

### 4.2 - Limpeza dos dados
---

Após verificar o dataset acima e a relação das descrições com os valores existentes, realize o processo de limpeza dos dados, verificando possíveis inconsistências entre as instâncias (linhas que compõem o dataset). Mais uma vez, a leitura da documentação do `pandas` é uma excelente iniciativa.

_Sua resposta aqui_

In [ ]:
# Seu código aqui

### 4.3 - Feature Engineering e Dados Categóricos
---

4.3.1 - Em um problema de _Data Science_, é comum nos depararmos com um dataset cujos atributos não esclareçam com efetividade o comportamento de um dado fenômeno. Desta forma, cientistas de dados devem estar aptos a manipular atributos existentes e assim definir novos atributos, de acordo com os critérios estabelecidos. Este processo é descrito como _Feature Engineering_, e trata apenas da manipulação algébrica e/ou lógica de atributos (colunas, no contexto prático) com o intuito de alimentar o seu modelo de Machine Learning com dados relevantes à resolução do problema. 
Nesta etapa, você deverá utilizar sua intuição aliando criatividade para decidir como novos atributos podem ser definidos, a partir dos dados que você já possui.

Dica: Utilize as colunas existentes para gerar uma ou mais colunas com atributos distintos dos primeiros.

_Sua resposta aqui_

In [ ]:
# Seu código aqui

4.3.2 - Em poucos termos, algoritmos de Machine Learning só funcionam com valores numéricos. Isto significa que antes de treinar qualquer modelo, deve-se transformar os dados categóricos em dados numéricos. Encontre uma forma de *codificar* as colunas de dados categóricos, de forma que seu modelo consiga interpretar todos os atributos não-numéricos como numéricos.

_Sua resposta aqui_

In [ ]:
# Seu código aqui

### 4.4 - Análise Exploratória dos Dados
---

Antes de qualquer análise mais aprofundada sobre um conjunto de dados, é necessário ter uma noção de como estes dados estão distribuídos, que valores são mais comuns entre os dados, o quão dispersos estão e se existem valores que se distinguem do dataset, de uma maneira geral. Todas estas informações são classificadas como estatísticas, e em ciência de dados é preciso ter ideias claras sobre a forma do conjunto de dados em questão, utilizando-se majoritariamente da visão como forma de comunicar e representar as estatísticas elementares destes dados. Realize uma análise exploratória sobre os dados deste problema, apresentando as medidas de localização, dispersão e os valores que não se repetem em cada coluna, utilizando a biblioteca `matplotlib.pyplot` para criar gráficos que representem estas medidas. Utilize boxplots para visualizar dados muito discrepantes entre as amostras do dataset.

_Sua resposta aqui_

In [ ]:
# Seu código aqui

# Questão 5: Processamento de Linguagem Natural
---

**Descrição:**
\
Nessa seção você irá explorar a área da NLP, quem têm como objetivo obter informações de textos, e além disso, tratá-los afim de entender e imitar a conversa humana, criando novos textos a partir de uma base, por exemplo.

In [ ]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00228/smsspamcollection.zip"

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import zipfile as zf
import requests
import io

In [ ]:
r = requests.get(url)
z = zf.ZipFile(io.BytesIO(r.content))
sms = pd.read_csv(z.open(zf.ZipFile.namelist(z)[0]), sep='\t',encoding='utf-8',header=None, names = ['SMS', 'Text'])

In [ ]:
sms.head()

    SMS                                               Text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

### 5.1 - Faça a Análise Exploratória do dataset criado, encontre:
---

5.1.1 - Distribuição das classes

_Sua resposta aqui_

In [ ]:
# Seu código aqui

5.1.2 - Palavras mais frequentes de cada classe

_Sua resposta aqui_

In [ ]:
# Seu código aqui

5.1.3 - Distribuição de FREE/WIN em cada classe

_Sua resposta aqui_

In [ ]:
# Seu código aqui

5.1.4 - Distribuição de URLs em cada classe.

_Sua resposta aqui_

In [ ]:
# Seu código aqui

### 5.2 - Faça a Limpeza de dados, apresente a sua forma escolhida para:
---

5.2.1 - Remover pontuação e caracteres especiais, normalizar letras maiúsculas

_Sua resposta aqui_

In [ ]:
# Seu código aqui

5.2.2 - Tokenizar palavras

_Sua resposta aqui_

In [ ]:
# Seu código aqui

5.2.3 - Remover stop words

_Sua resposta aqui_

In [ ]:
# Seu código aqui

5.2.4 - Lematização

_Sua resposta aqui_

In [ ]:
# Seu código aqui

5.2.5 - Compare a Análise Exploratória antes e depois da limpeza e retirada de stop words

_Sua resposta aqui_

In [ ]:
# Seu código aqui